1. The function of the ignition system is to _____________ the flame propagation process.
a) stop
b) initiate
c) balance
d) none of the mentioned
b
2. The total enthalpy required to cause the flame to be self sustaining and promote ignition, is given by the product of the surface area of the spherical flame and the enthalpy per unit area.
a) True
b) False
a
3. A spark can be caused by applying a sufficiently low voltage between two electrodes separated by a gap.
a) True
b) False
b
4. An ignition process obeys the law of ______________
a) conservation of mass
b) conservation of energy
c) conservation  of momentum
d) none of the mentioned
b
5. The pressure, temperature and density of the mixture between the spark plug electrodes have a considerable influence on the __________ required to produce a spark.
a) voltage
b) current
c) mass
d) none of the mentioned
a
6. If the spark energy exceeds 40 mJ and the duration is longer than 0.5 ms, reliable ignition is obtained.
a) True
b) False
a
7. If the resistance of the deposits on the spark plug electrodes is sufficiently high, the loss of electrical energy through these deposits may prevent the spark discharge.
a) True
b) False
a
8. As air is poor conductor of electricity an air gap in an electric circuit acts as a high _____________
a) conductor
b) resistance
c) ignition
d) none of the mentioned
b
9. A spark is produced to ignite a homogeneous air fuel mixture in the combustion chamber of an engine, it is called spark ignition system.
a) True
b) False
a
10. An ignition system should provide a good spark between the _____________ of the plugs at the correct timing.
a) cathodes
b) anodes
c) electrodes
d) none of the mentioned
c
11. An ignition system should function efficiently over the entire range of engine speed.
a) True
b) False
a
12. An ignition system should be heavy, effective and reliable in service.
a) True
b) False
b
13. An ignition system should be compact and easy to maintain.
a) True
b) False
a
14. An ignition system should be cheap and convenient to handle.
a) True
b) False
a
15. The interference from the low voltage source should not affect the functioning of the radio and television receivers inside an automobile.
a) True
b) False
b
Sanfoundry Global Education & Learning Series – IC Engine.
To practice all areas of IC Engine, here is complete set of 1000+ Multiple Choice Questions and Answers.
Participate in the Sanfoundry Certification contest to get free Certificate of Merit. Join our social networks below and stay updated with latest contests, videos, internships and jobs!
Telegram | Youtube | LinkedIn | Instagram | Facebook | Twitter | Pinterest
Youtube | LinkedIn | Instagram | Facebook | Twitter | Pinterest
« Prev - IC Engine Questions and Answers – Group Gasoline Injection System – 2» Next - IC Engine Questions and Answers – Battery Ignition System 
