1. What is the time interval between the sowing and harvesting of crops?
a) Base period
b) Kor period
c) Crop period
d) Season period
c
2. Crop period is approximately assumed to be the same as that of the base period.
a) True
b) False
a
3. What is the first step in soil preparation before sowing of seeds?
a) Levelling
b) Ploughing
c) Manuring
d) Pre-watering
b
4. Kor period is less for humid climates and more for dry climates.
a) True
b) False
a
Join Sanfoundry@YouTube
5. The first watering before sowing the crop is ________
a) paleo
b) kor
c) delta
d) flooding
a
6. What is called as the percentage of C.C.A irrigated at a time in one crop season?
a) Gross Command Area
b) Culturable cultivated area
c) Culturable uncultivated area
d) Intensity of irrigation
d
7. Superfluous water is also called _______
a) capillary water
b) gravitational water
c) hydroscopic water
d) saturation capacity
b
8. The useful soil moisture for plant growth is ______
a) capillary water
b) gravitational water
c) hydroscopic water
d) permanent wilting point
a
9. The area in which inferior crops can be grown without irrigation is called semi-arid region.
a) True
b) False
a
Sanfoundry Global Education & Learning Series – Irrigation Engineering.
To practice all areas of Irrigation Engineering, here is complete set of 1000+ Multiple Choice Questions and Answers.
Participate in the Sanfoundry Certification contest to get free Certificate of Merit. Join our social networks below and stay updated with latest contests, videos, internships and jobs!
Telegram | Youtube | LinkedIn | Instagram | Facebook | Twitter | Pinterest
Youtube | LinkedIn | Instagram | Facebook | Twitter | Pinterest
« Prev - Irrigation Engineering Questions and Answers – Techniques of Water Distribution in the Farms» Next - Irrigation Engineering Questions and Answers – Water Requirements – Duty and Delta of a Crop 
