1. Which of the following statement is not correct about Effective rainfall?
a) It doesn’t take into consideration precipitation lost through deep percolation
b) It satisfies evapotranspiration needs of the crop
c) It includes surface runoff loss
d) It doesn’t include surface runoff water loss
c
2. What is the field irrigation requirement (FIR)?
a) The water required to meet the evaporation needs of a crop
b) Amount of water required to delivered at the field to meet evapotranspiration and leaching needs
c) Amount of water required to meet the net irrigation requirements plus water lost due to surface runoff and percolation
d) Amount of water required to meet the field irrigation requirements plus water lost in conveyance through the canal system
c
Mathematically, FIR = NIR / Na where Na = application efficiency and NIR = Net irrigation requirement.
3. What is the correct representation for the calculation of NIR?
a) Cu – Re
b) CIR + leaching losses
c) FIR + conveyance losses
d) FIR + leaching losses + conveyance losses
b
NIR = (Cu – Re) + amount of water required for leaching = CIR + leaching losses requirement.
4. Determine the Gross irrigation requirement for an irrigation system if consumptive use of crop is 200 cm in terms of depth and the rainfall excess is 30 cm. assume water application efficiency = 50% and conveyance efficiency = 90%.
a) 370 cm
b) 380.79 cm
c) 355.56 cm
d) 377.77 cm
d
NIR = CIR + losses = (200-300) + 0 = 170 cm
FIR = NIR / Na = 170/0.5 = 340 cm
GIR = FIR / Nc = 340/0.9 = 377.77 cm.
5. An outlet irrigates an area of 40 ha. The discharge required at this outlet to meet the evapotranspiration requirement of 40 mm occurring uniformly in 40 days neglecting other field losses is _________
a) 4.52 litres / sec
b) 2.31 litres / sec
c) 4.01 litres / sec
d) 1.52 litres / sec
a
Hence, the discharge required at outlet
= (16 x 106) / (40 x 86400)
= 4.52 litres / sec.
Join [email protected]
6. The moisture holding capacity of the soil in a 100-hectare farm is 20 cm/m. The root zone depth of the crop is 1.0 m and peak rate to moisture use is 5 mm/day. The field is to be irrigated when 40% of the available moisture in the root zone is depleted. Calculate the frequency of irrigation.
a) 16 days
b) 18 days
c) 20 days
d) 25 days
a
Moisture holding capacity of soil for crop = 20 x 1 = 20 cm
Allowable depletion of moisture = 40% of 20 cm = 8 cm
 Consumptive use of water= 5 mm/day = 0.5 cm/day
The frequency of irrigation = 8 / 0.5 = 16 days.
7. What is the correct formula for Gross irrigation requirement?
a) Cu – Re
b) CIR + leaching losses
c) NIR/Na
d) FIR/Nc
d
Mathematically, GIR = FIR/Nc.
8. The following data gives the value of consumptive uses and effective rainfalls for the periods shown against them for a Jowar crop. Determine NIR of this crop neglecting other losses.
Dates
Cu (in mm)
Re (in mm)
16-31 October
37
30.8
1-30 November
84.2
20.4
1-31 December
154.9
6.7
1-31 January
188.1
2.4
1-10 February
13.3
1.0
a) 41.60 cm
b) 41.60 mm
c) 44 cm
d) 44 mm
a
Dates
Cu (in mm)
Re (in mm)
NIR = Cu – Re
16-31 October
37
30.8
6.2
1-30 November
84.2
20.4
63.8
1-31 December
154.9
6.7
148.2
1-31 January
188.1
2.4
185.7
1-10 February
13.3
1.0
12.3
Summation of all values of NIR = 416.2 mm = 41.62 cm.
Sanfoundry Global Education & Learning Series – Irrigation Engineering.
To practice all areas of Irrigation Engineering, here is complete set of 1000+ Multiple Choice Questions and Answers.
Participate in the Sanfoundry Certification contest to get free Certificate of Merit. Join our social networks below and stay updated with latest contests, videos, internships and jobs!
Telegram | Youtube | LinkedIn | Instagram | Facebook | Twitter | Pinterest
Youtube | LinkedIn | Instagram | Facebook | Twitter | Pinterest
« Prev - Irrigation Engineering Questions and Answers – Water Requirements of Crops – Consumptive Use of Evapotranspiration» Next - Irrigation Engineering Questions and Answers – Water Requirements of Crops – Estimation of Consumptive Use – 1 
