1. Which formula is extensively used for estimating seasonal water requirements?
a) Blaney-Criddle formula
b) Hargreaves pan evaporation method
c) Penman’s equation
d) Christiansen formula
a
Blaney-Criddle formula is written as Cu = k.f  where, f = p/40[1.8t + 32].
Where Cu = monthly/seasonal consumptive use, k = crop factor, p = monthly % of annual daylight hours in that period, and t = mean monthly temperature
2. Which method is time-consuming and expensive?
a) Tanks and Lysimeter
b) Vapour transfer method
c) Field plot method
d) Integration method
a
3. Which of the following is not an empirical method of determining consumptive use?
a) Lowry Johnson method
b) Penman’s equation
c) Hargreaves method
d) Inflow-outflow method
d
4. The evapotranspiration rate is higher in light green vegetation than in dark green vegetation.
a) True
b) False
b
5. The monthly consumptive use values for paddy are 26.69, 8.76, 14.38, 22.73, 21.29, 25.50 and 15.06 for the duration of month from June to July. What is the average daily consumptive use?
a) 7.0 mm
b) 8.0 mm
c) 7.5 mm
d) 8.5 mm
c
Average daily consumptive use = 137.41 / period of growth in days
= 137.41 / (30+31+31+30+31+30) = 7.5 mm.
6. Which of the following statement is wrong about consumptive use coefficient?
a) It is different for different crops
b) It varies with the crop growth
c) It is different for the same crop at different places
d) It is independent of the crop type and its growth
d
7. What is the range of reflection coefficient for close-grained crops?
a) 0.15-0.25
b) 0.05-0.45
c) 0.05
d) 0.45-0.90
a
Close-grained crops
0.15-0.25
Bare lands
0.05-0.45
Water surface
0.05
Snow
0.45-0.90
8. Which method is widely used in India for the computation of consumptive use?
a) Penman’s equation
b) Hargreaves – Christiansen equation
c) Blaney-Criddle equation
d) Tanks and lysimeter
a
9. The average value of Et/Ep for citrus crops?
a) 0.90
b) 0.7-1.10
c) 0.60
d) 0.66-1
c
10. The monthly consumptive use is given by _____________
a) Cu = k.p/40 [1.8t + 32] 
b) Cu = k.p/40 [1.8t – 32] 
c) Cu = k.p/40 [t + 32] 
d) Cu = k.p/40 [t – 32] 
a
Cu = k.p/40 [1.8t + 32]
 Where, Cu is monthly consumptive use in cm, K = crop factor, T = mean monthly temperature in °C, and P = monthly % of annual day light hours that occur during the period.
11. Determine the pan evaporation from the following data using the Christiansen method.
Extra-terrestrial radiation in cm = 47.3cm
Coefficient of temperature(Ct) = 1.403
Coefficient for wind velocity (Cw)= 1.2
Coefficient for relative humidity (Ch) = 1
Coefficient for percent of possible sunshine(Cs) = 1.073
Coefficient of elevation(Ce) = 1.014
a) 40 cm
b) 30.44 cm
c) 39.8 cm
d) 37.98 cm
c
Ep = 0.459 x 47.3 x 1.403 x 1.200 x 1.000 x 1.073 x 1.014
= 39.8 cm.
Sanfoundry Global Education & Learning Series – Irrigation Engineering.
To practice all areas of Irrigation Engineering, here is complete set of 1000+ Multiple Choice Questions and Answers.
Participate in the Sanfoundry Certification contest to get free Certificate of Merit. Join our social networks below and stay updated with latest contests, videos, internships and jobs!
Telegram | Youtube | LinkedIn | Instagram | Facebook | Twitter | Pinterest
Youtube | LinkedIn | Instagram | Facebook | Twitter | Pinterest
« Prev - Irrigation Engineering Questions and Answers – Water Requirements of Crops – Effective Rainfall» Next - Irrigation Engineering Questions and Answers – Water Requirements of Crops – Estimation of Consumptive Use – 2 
