1. Which zone is the most important from an irrigation point of view?
a) Soil Zone
b) Intermediate Zone
c) Capillary Zone
d) Saturation Zone
a
2. What is the name of water which flows under gravity?
a) Hygroscopic Water
b) Gravity Water
c) Capillary Water
d) Residue Water
b
3. Field capacity is different from gravity water.
a) True
b) False
a
4. How many days are generally taken to obtain field capacity after free gravity drainage?
a) 3 to 7 days
b) 4 to 8 days
c) 5 to 9 days
d) 2 to 5 days
d
5. By what type of forces the soil grains retain water on their surfaces?
a) Capillary Forces
b) Cohesive Forces
c) Molecular Attraction and by Loose Chemical Bonds
d) Compressive Forces
c
6. Based on surface tension, what is the name of the part of field capacity water?
a) Hygroscopic Water
b) Gravity Water
c) Capillary Water
d) Residue Water
c
7. Based on loose chemical bonds, what is the name of the part of field capacity water?
a) Hygroscopic Water
b) Gravity Water
c) Capillary Water
d) Residue Water
a
8. Capillary water is available to plants and hygroscopic water is not.
a) True
b) False
a
9. Determine the field capacity, when the unit weight of water is 9.8 KN/m3, and volume of water stored in unit area of soil is 28 m3, the dry unit weight of soil is 18 KN/m3, and the depth of root zone of the plant is 7 m.
a) 2.178 m2
b) 2.135 m2
c) 2.125 m2
d) 2.25 m2
a
Weight of water retained in unit area of soil = γw x volume of water stored in unit area
= 9.8 x 28
= 274.4 KN
Weight of same volume of dry soil = γd x d (where, γw = unit weight of water, γd = dry unit weight of soil)
= 18 x 7
= 126 KN/m2
Now field capacity (F) = (274.4 / 126)
= 2.178 m2.
10. Determine the volume of water stored in unit area if unit weight of water is 9.8 KN/m3, dry unit of soil is 17 KN/m3, field capacity (F) is 2.35 m2, and depth of root zone of the plant is 9 m.
a) 36.69 m3
b) 36 m3
c) 36.12 m3
d) 36.25m3
a
Therefore volume of stored water = (γd. d. F / γw)
= (17 x 9 x 2.35 / 9.8) (where, γw = unit weight of water, γd = dry unit weight of soil)
= 359.55 / 9.8
= 36.69 m3.
11. Up to which point plants can extract water?
a) Saturation Point
b) Permanent Wilting Point
c) Hydration Point
d) Dissolution Point
b
12. What is the name of actual available water to the plants?
a) Available Moisture
b) Moisture
c) Capillary Water
d) Hygroscopic Water
a
13. By what percentage of available moisture is easily extracted by plants?
a) 80 to 90%
b) 75 to 80%
c) 70 to 80%
d) 65 to 70%
b
14. Which type of moisture is slightly less or most equal to field capacity?
a) Equivalent Moisture
b) Soil Moisture Deficiency
c) Available Moisture
d) Readily Available Moisture
a
15. Which type of moisture acts as a bridge between soil moisture content and field capacity?
a) Equivalent Moisture
b) Soil Moisture Deficiency
c) Available Moisture
d) Readily Available Moisture
b
Sanfoundry Global Education & Learning Series – Irrigation Engineering.
To practice all areas of Irrigation Engineering, here is complete set of 1000+ Multiple Choice Questions and Answers.
Participate in the Sanfoundry Certification contest to get free Certificate of Merit. Join our social networks below and stay updated with latest contests, videos, internships and jobs!
Telegram | Youtube | LinkedIn | Instagram | Facebook | Twitter | Pinterest
Youtube | LinkedIn | Instagram | Facebook | Twitter | Pinterest
« Prev - Irrigation Engineering Questions and Answers – Water Requirements of Crops – Estimation of Consumptive Use – 2» Next - Irrigation Engineering Questions and Answers – Canal Irrigation System – Alluvial and Non-alluvial Canals 
