1. What is the safe limiting velocity for cement concrete lining?
a) 1.5 m/s
b) 2.2 m/s
c) 2.7 m/s
d) 1.8 m/s
c
2. The most economical type of lining is the one which shows ____________
a) minimum benefit-cost ratio
b) maximum benefit-cost ratio
c) zero benefit-cost ratio
d) benefit-cost ratio = 1
b
3. Which of the following guideline is not recommended for the choice of lining when the bed width of the canal is up to 3 m?
a) Single burnt clay tile lining or brick lining
b) PCC slab lining
c) Flexible membrane lining with adequate earth/tile cover
d) In-situ cement concrete lining in bed as well as on sides
d
4. Which of the following is not a cause for the hydrostatic pressure on the lining?
a) Seeping of the rainwater in the backfill
b) When the water table remains below the canal bed
c) The backfill is of low drainage
d) The backfill is of high permeability (i.e. > 3 cm/sec)
d
5. Drainage relief pockets are provided ___________
a) at isolated locations in the bed as well as sides of the lined canal
b) in the bed of the canal
c) in the sides of the canal
d) anywhere in the canal
a
6. The permeability of lining is also governed by the depth of water in the canal and type of subgrade soil.
a) True
b) False
a
7. Pressure relief valves may help in ___________
a) releasing the hydrostatic pressure
b) holding the hydrostatic pressure
c) increasing the hydrostatic pressure
d) may increase or decrease the hydrostatic pressure
a
8. Pipe drains run _______________
a) longitudinally on the bed and transverse to the length of canal on the side slopes
b) longitudinally to the length of the canal on the side slopes and transverse to the bed
c) longitudinally to the length of the canal
d) transverse to the bed
a
9. Which of the following statement is wrong about the requirement of good lining?
a) The lining should be able to withstand the differential sub-soil pressure
b) Brick lining, concrete lining or precast slab lining can be easily repaired as compared to cast-in-situ concrete lining
c) The hydraulic efficiency generally reduces with time
d) Brick tile lining may provide better abrasion  resistance than cement concrete and boulder lining
d
10. Which type of lining is adopted when the channels have become stable and no danger of scouring is expected?
a) Brick lining
b) Single burnt clay tile lining
c) In-situ cement concrete lining
d) Flexible membrane lining in the bed and rigid lining on the sides
d
Sanfoundry Global Education & Learning Series – Irrigation Engineering.
To practice all areas of Irrigation Engineering, here is complete set of 1000+ Multiple Choice Questions and Answers.
Participate in the Sanfoundry Certification contest to get free Certificate of Merit. Join our social networks below and stay updated with latest contests, videos, internships and jobs!
Telegram | Youtube | LinkedIn | Instagram | Facebook | Twitter | Pinterest
Youtube | LinkedIn | Instagram | Facebook | Twitter | Pinterest
« Prev - Irrigation Engineering Questions and Answers – Earth Type Linings» Next - Irrigation Engineering Questions and Answers – Lining of Canals in Expansive Soils 
