1. What is the time interval between two consecutive watering called?
a) Crop Period
b) Period
c) Base Period
d) Rotation Period
d
2. What is total depth of water, for complete growth of crop called?
a) Triangle
b) Delta
c) Duty of Water
d) Rotation Period
b
3. Duty of water helps in the work out of discharge required for designing the channel.
a) True
b) False
a
4. What is the name of duty called as in direct irrigation?
a) Flow Duty
b) Quantity Duty
c) Duty
d) Delta
a
5. Which type of period is slightly more than its counterpart period?
a) Crop Period
b) Period
c) Base Period
d) Rotation Period
a
6. Flow irrigation system has lower duty than lift irrigation system.
a) True
b) False
a
7. Which type of units is used to define high and low duty?
a) Hectare-meters
b) Hectares/cumec
c) Meters
d) Centimeters
b
8. Which type of area is large in quantity compared to others?
a) Gross Commanded Area (G.C.A)
b) Culturable Commanded Area (C.C.A)
c) Culturable Cultivated Area
d) Culturable Uncultivated Area
a
9. In what type of area crop is not sown for a particular season?
a) Gross Commanded Area (G.C.A)
b) Culturable Commanded Area (C.C.A)
c) Culturable Cultivated Area
d) Culturable Uncultivated Area
d
10. Given that, a particular irrigation field has C.C.A as 200 hectares, out which 150 hectares of land is cultivated for rabi season and 100 hectares of land is cultivated for kharif season. What is the intensity of irrigation for each season?
a) 50%, 100%
b) 120%, 60%
c) 75%, 50%
d) 150%, 75%
c
Intensity of irrigation = (150/200) x 100
= 15 x 5
= 75%
For kharif season:
Intensity of irrigation = (100/200) x 100
= 0.5 x 100
= 50%. 
11. Given that a particular crop requires about 20 cm depth of water at an interval of 40 days, and the base period is 400 days. Find the delta for the crop? Now using this delta find the duty of water for the crop?
a) 150 cm, 1150 hectares/cumec
b) 180 cm, 1825 hectares/cumec
c) 200 cm, 1728 hectares/cumec
d) 195 cm, 1920 hectares/cumec
c
Now delta = 10 x 20 = 200 cm.
Now we have relation between delta and duty as –
Delta = (864B)/D
B = base period, D = duty
200 = (864 x 400)/D
D = 864 x 2 = 1728 hectares/cumec.
12. It is said that a particular type of crop requires a depth of 6 cm of water every 24 days and the crop period is 168 days. Find the delta of the crop?
a) 50 cm
b) 42 cm
c) 20 cm
d) 95 cm
b
Each watering needs 6 cm depth of water. So, therefore total depth of water required in 168 days = 7 x 6 = 42 cm.
13. How can we improve the duty of water?
a) Lining of Canals
b) Construction of Weir
c) Construction of Dam
d) Check Dams
a
14. Which factor directly affects the duty of water?
a) Type of Crop
b) Useful Rainfall
c) Type of Soil
d) Canals
b
15. At which point in the entire canal system the duty of water will be more?
a) Head of the Water-course
b) Head of the Minor
c) Head of the Distributary
d) Head of the Branch
a
Sanfoundry Global Education & Learning Series – Irrigation Engineering.
To practice all areas of Irrigation Engineering, here is complete set of 1000+ Multiple Choice Questions and Answers.
Participate in the Sanfoundry Certification contest to get free Certificate of Merit. Join our social networks below and stay updated with latest contests, videos, internships and jobs!
Telegram | Youtube | LinkedIn | Instagram | Facebook | Twitter | Pinterest
Youtube | LinkedIn | Instagram | Facebook | Twitter | Pinterest
« Prev - Irrigation Engineering Questions and Answers – Water Requirements – Crop Period or Base Period» Next - Irrigation Engineering Questions and Answers – Water Requirements – Crop Season and Indian Agriculture 
