1. Which of the following is not a factor that affects PRT?
a) Age
b) Presence of alcohol in driver’s system
c) Fatigue
d) Vehicle accommodation
d
2. Within which field of vision should traffic signs be placed without the drivers having to change their line of sight?
a) Acute vision field
b) Fairly clear vision field
c) Peripheral vision field
d) Obtuse vision field
a
3. What is the correct order of the four distinct processes a driver has to perform during perception and reaction time?
a) Detection, Identification, Decision, and Response
b) Detection, Decision, Identification, and Response
c) Identification, Detection, Decision, and Response
d) Identification, Decision, Detection, and Response
a
4. The peripheral vision field narrows as speed decreases.
a) True
b) False
b
5. What is the range of fairly clear vision cone?
a) 10° – 15°
b) 10° – 12°
c) 3° – 10°
d) 60° – 90°
b
6. Some _______ pigment has been added to green lights and some ________ pigment has been added to red light to make it easier for the colourblind drivers to distinguish it.
a) blue, yellow
b) red, green
c) yellow, blue
d) green, red
a
7. Glare effects can be minimized by decreasing the height of lights.
a) True
b) False
b
8. What do Raised markers on a pavement indicate?
a) Cycle trail
b) Mandatory reduction in speed of the vehicle
c) Railway track ahead
d) Two-way lane demarcation
b
9. Which visual reception affects the ability of a driver to estimate speed, distance, size, and acceleration?
a) Hearing perception
b) Depth perception
c) Glare vision
d) Visual acuity
b
10. What is the recovery time when the driver moves from light to dark condition?
a) 3 seconds
b) 2 seconds
c) 6 seconds
d) 5 seconds
c
11. What does the etching on the outside edge of the shoulder on a highway pavement indicate to a driver?
a) Vehicle leaving the pavement surface
b) Vehicle entering a different lane
c) Vehicle entering a construction site
d) Vehicle entering the pedestrian lane
a
12. The cone for peripheral vision is typically 160°. On what does this value depend on?
a) Speed of vehicle and hearing perception
b) Speed of vehicle and age of driver
c) Age of driver and depth perception
d) Age of driver and glare recovery
b
13. What is Gap Acceptance?
a) Minimum gap required to change the lane safely
b) Maximum gap required to change the lane safely
c) Minimum gap required in between parked cars
d) Maximum gap required in between parked cars
a
14. The visibility difficulty that the driver faces at night is due to _____________
a) Depth perception
b) Glare vision
c) Visibility perception
d) Colour blindness
b
Sanfoundry Global Education & Learning Series – Traffic Engineering.
To practice all areas of Traffic Engineering,  here is complete set of 1000+ Multiple Choice Questions and Answers.
Participate in the Sanfoundry Certification contest to get free Certificate of Merit. Join our social networks below and stay updated with latest contests, videos, internships and jobs!
Telegram | Youtube | LinkedIn | Instagram | Facebook | Twitter | Pinterest
Youtube | LinkedIn | Instagram | Facebook | Twitter | Pinterest
« Prev - Traffic Engineering Questions and Answers – Traffic Engineering Studies – 2» Next - Traffic Engineering Questions and Answers – PIEV Theory 
