1. The highway drainage requirement don’t include ______________
a) Effective drainage
b) Water entering the roadway
c) Sufficient longitudinal slope
d) Erosion free
b
2. The preferable height of the water table should be __________
a) 0.75 m
b) 1.0 m
c) 1.2 m
d) 0.5 m
c
3. The precautions should be mostly taken for drainage in __________
a) Dry areas
b) Semi dry areas
c) Water logged areas
d) Desert areas
c
4. The increase in moisture causes the strength to __________
a) Increase
b) Decrease
c) Remains same
d) Can’t determine
b
5. The excess water on shoulder in a dry region with a good drainage system causes __________
a) Water stagnation
b) Floods
c) Damage to pavement
d) Increase of initial cost
c
6. The sustained contact with water cause failure due to __________
a) Swelling
b) Stripping
c) Ravelling
d) Sloping
b
7. The damage in cold region is caused due to __________
a) Heat
b) Rain
c) Frost action
d) All of the mentioned
c
8. The path of wheels cause damage in the form of __________
a) Undulations
b) Shear
c) Deflection
d) Ruts and corrugation
d
9. The swelling and shrinkage is mostly seen in __________
a) Sand
b) Gravel
c) Black cotton soil
d) Kankar
c
10. In India for storm sewage and domestic sewage we use?
a) Individual sewers
b) Combined sewers
c) Iron pipes
d) Closed sewers
b
Sanfoundry Global Education & Learning Series –  Highway Engineering.
To practice all areas of Highway Engineering, here is complete set of 1000+ Multiple Choice Questions and Answers.
Participate in the Sanfoundry Certification contest to get free Certificate of Merit. Join our social networks below and stay updated with latest contests, videos, internships and jobs!
Telegram | Youtube | LinkedIn | Instagram | Facebook | Twitter | Pinterest
Youtube | LinkedIn | Instagram | Facebook | Twitter | Pinterest
« Prev - Highway Engineering Questions and Answers – Objects of Highway Drainage System» Next - Highway Engineering Questions and Answers – Surface Drainage System for Roads 
